<h1 mat-dialog-title>
  Hero details
</h1>
<mat-dialog-content class="mat-typography">
  <h3>Name</h3>
  <p>{{hero.nameLabel | titlecase}}</p>

  <h3>Gender</h3>
  <p>{{hero.genderLabel | titlecase}}</p>

  <h3>Citizenship</h3>
  <p>{{hero.citizenshipLabel | titlecase}}</p>

  <h3>Skills</h3>
  <p>{{hero.skillsLabel | titlecase}}</p>

  <h3>Occupation</h3>
  <p>{{hero.occupationLabel | titlecase}}</p>

  <h3>Member Of</h3>
  <p>{{hero.memberOfLabel | titlecase}}</p>

  <h3>Creator</h3>
  <p>{{hero.creatorLabel | titlecase}}</p>
</mat-dialog-content>

